* {
    font-family: Helvetica, Arial, sans-serif;
    max-width: 700px;
    margin: auto;

  }

body {
      min-width: 500px;
      background-color: #e0eeee;
  }

  .profileBody {
    display: inline-block;
    background-color: white;
    margin-top: 6px;
    margin-left: 55px;
    width: 90%;
    height: 600px;
  }
  h1{
      
    color:red;
    left: 50%;
  }

  .border{
    width: 260px;
    padding: 5px;
    border-style: inset;
    background-color:yellow;
    margin: 0;
    box-shadow: 10px 10px;
    
  }

  .img{
    position: absolute;
        /*float:right;
        margin: 145px 20px 0px 10px;*/
    top: 6px;
    right: 382px;
    border-radius : 50%;
    margin-bottom: 50px;

  }
  





#EDTECH1{
  border: 3px solid;
  padding: 15px;
  width: 142px;
  margin-left: 80px;
  border-bottom-right-radius: 20px;
  border-color: red;
  box-shadow: 10px 10px;
  


}

#EDTECH2{
  border: 3px solid;
  padding: 15px;
  width: 142px;
  margin-left: 130px;
  border-bottom-right-radius: 20px;
  border-color: red;
  box-shadow: 10px 10px;


}